<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title|title }}{% endblock %}</title>
    {% block vendorscripts %}
        <!-- vendor scripts -->
        <script src="{{ asset('vendor/components/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/components/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/components/jqueryui/jquery-ui.min.js') }}"></script>

        <script src="{{ asset('js/functions.js') }}"></script>
    {% endblock %}

    {% block vendorstyles %}
        <!-- vendor styles -->

    {% endblock %}

    {% block stylesheets %}
    <!-- default style sheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}


</head>
{% block body %}
<body id="client">
{% endblock %}
    <div class="container-fluid">
            {% block container %}
                No content added yet....
            {% endblock %}
    </div> <!-- /container -->

</body>

</html>